<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>ch19_joinOk</display-name>
    <servlet-name>ch19_joinOk</servlet-name>
    <servlet-class>ch19.ch19_joinOk</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ch19_joinOk</servlet-name>
    <url-pattern>/joinOk</url-pattern>
  </servlet-mapping>
  <display-name>JSP_Servlet_DB</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ch19_loginOk</display-name>
    <servlet-name>ch19_loginOk</servlet-name>
    <servlet-class>ch19.ch19_loginOk</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ch19_loginOk</servlet-name>
    <url-pattern>/LoginOk</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ch19_modifyOk</display-name>
    <servlet-name>ch19_modifyOk</servlet-name>
    <servlet-class>ch19.ch19_modifyOk</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ch19_modifyOk</servlet-name>
    <url-pattern>/ModifyOk</url-pattern>
  </servlet-mapping>
</web-app>